<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/PROJECTS">
        <classes>



            <class name="example.AppTest">
                <methods>
                    <include name="seTup"/>
                    <include name="searchBook"/>
                    <include name="verifyPreloads"/>
                    <include name="verifyLocation"/>
                    <include name="buscarPais"/>
                    <include name="verificarPrecio"/>
                    <include name="menoroigualcero"/>
                    <include name="tearDown"/>
                </methods>
            </class>



        </classes>
    </test>
</suite>